swagger: '2.0'
info:
  title: Bot-API-Gateway
  version: 1.1.0
host: bots-gateway-prod-83hfw8tp.ew.gateway.dev
schemes:
  - https
paths:
  /:
    get:
      summary: Dashboard Access
      operationId: dashboardAccess
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
      responses:
        '200':
          description: OK

  '/{p1}':
    get:
      summary: Proxy GET L1
      operationId: apiProxyGetL1
      parameters:
        - in: path
          name: p1
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: Proxy POST L1
      operationId: apiProxyPostL1
      parameters:
        - in: path
          name: p1
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/{p1}/{p2}':
    get:
      summary: Proxy GET L2
      operationId: apiProxyGetL2
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: Proxy POST L2
      operationId: apiProxyPostL2
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/{p1}/{p2}/{p3}':
    get:
      summary: Proxy GET L3
      operationId: apiProxyGetL3
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: Proxy POST L3
      operationId: apiProxyPostL3
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/{p1}/{p2}/{p3}/{p4}':
    get:
      summary: Proxy GET L4
      operationId: apiProxyGetL4
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
        - in: path
          name: p4
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: Proxy POST L4
      operationId: apiProxyPostL4
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
        - in: path
          name: p4
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
