swagger: '2.0'
info:
  title: Bot-API-Gateway
  version: 1.2.0
host: bots-gateway-prod-83hfw8tp.ew.gateway.dev
schemes:
  - https

x-google-backend:
  address: https://frontend-service-634498283437.europe-southwest1.run.app/
  path_translation: APPEND_PATH_TO_ADDRESS

paths:

  # ── FRONTEND (HTML dashboard) ──────────────────────────────────────────────
  /:
    get:
      summary: Dashboard
      operationId: dashboardRoot
      x-google-backend:
        address: https://frontend-service-634498283437.europe-southwest1.run.app/
      responses:
        '200':
          description: OK

  # ── BACKEND (API + auth) ───────────────────────────────────────────────────
  '/activate/{key}':
    get:
      summary: Activate device
      operationId: activateDevice
      parameters:
        - in: path
          name: key
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/api/{p1}':
    get:
      summary: API L1 GET
      operationId: apiL1Get
      parameters:
        - in: path
          name: p1
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: API L1 POST
      operationId: apiL1Post
      parameters:
        - in: path
          name: p1
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/api/{p1}/{p2}':
    get:
      summary: API L2 GET
      operationId: apiL2Get
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: API L2 POST
      operationId: apiL2Post
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/api/{p1}/{p2}/{p3}':
    get:
      summary: API L3 GET
      operationId: apiL3Get
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: API L3 POST
      operationId: apiL3Post
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  '/api/{p1}/{p2}/{p3}/{p4}':
    get:
      summary: API L4 GET
      operationId: apiL4Get
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
        - in: path
          name: p4
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    post:
      summary: API L4 POST
      operationId: apiL4Post
      parameters:
        - in: path
          name: p1
          required: true
          type: string
        - in: path
          name: p2
          required: true
          type: string
        - in: path
          name: p3
          required: true
          type: string
        - in: path
          name: p4
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
