openapi: 3.0.0
info:
  title: Bot-API-Gateway
  description: Gateway oficial con filtrado de rutas y seguridad
  version: 1.0.0
host: bots-gateway-prod-83hfw8tp.ew.gateway.dev
schemes:
  - https

paths:
  /api/auto-run-all:
    post:
      summary: Disparador automático
      operationId: autoRunAll
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/api/auto-run-all
      responses:
        '200':
          description: OK

  /:
    get:
      summary: Acceso al Dashboard
      operationId: dashboardAccess
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/
      responses:
        '200':
          description: OK

  # Activación de clave dinámica
  /activate/{key}:
    get:
      summary: Activación con clave
      operationId: activateKey
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/activate/{key}
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK

  # Recursos estáticos (Obligatorio para que cargue el diseño)
  /static/{proxy*}:
    get:
      summary: Archivos estáticos
      operationId: staticFiles
      parameters:
        - name: path
          in: path
          required: true
          type: string
      x-google-backend:
        address: https://bot-service-634498283437.europe-southwest1.run.app/static/{path}
      responses:
        '200':
          description: OK